html,
body {
  padding: 0;
  margin: 0;
  background-color: #020917;
}

* {
  font-family: sans-serif, 'Rubik';
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  color: #fff;
}

h1,
h2 {
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.4rem;
  padding-bottom: 18px;
}

h2 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.45rem;
  padding-bottom: 18px;
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 18px;
}

h4 {
  font-weight: 700;
  font-size: 1.3rem;
  padding-bottom: 18px;
}

h5 {
  font-weight: 400;
  font-size: 1.05rem;
  padding-bottom: 7px;
}

p {
  color: rgba(255, 255, 255, 0.82);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 22px;
  letter-spacing: 0.2px;
}

a {
  color: #fa65c5;
  text-decoration: none;
}

strong {
  font-weight: 700;
  letter-spacing: 0.3px;
}

code, code *,
pre, pre * {
  font-size: 1rem;
  font-family: monospace;
}

pre {
  padding: 1.2rem !important;
  border-radius: 7px;
  margin: 5px 0 24px;
}

.hr {
  margin: 8px 0 18px;
}

::selection {
  background: #76d9e6; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #76d9e6; /* Gecko Browsers */
}